
<div class='container'>
  <div class="container ">
  <h1 class="text-primary text-center font-weight-bold ">Add New Payment</h1>
</div>
<div class='container'>
  <div class="jumbotron">

      <mat-form-field>
        <mat-label>Select a Employee</mat-label>
        <mat-select [formControl] ='addNewPaymentControl'  [(value)]="emp_id" #employeeSelection  (selectionChange)="DisplayAddWindow()" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let employee of EmployeeData" value={{employee.emp_id}}  >

           {{employee.emp_name}}
          </mat-option>

        </mat-select>

        <mat-error *ngIf="addNewPaymentControl.hasError('required')">Please choose an Employee</mat-error>

      </mat-form-field>

      <div *ngIf="hasDisplay">

   <form #AddNewPaymentForm="ngForm"  [style.fontSize.px]=20 (ngSubmit)="AddNewPayment(newPayment)" novalidate>

      <br>

      <mat-form-field appearance="fill">
        <mat-label> Payment Description <span class="material-icons">
          description
          </span> </mat-label>

          <textarea matInput name="activities_description" [(ngModel)]="newPayment.payment_description"></textarea>
        </mat-form-field>

      <br>
      <mat-form-field appearance="fill">
        <mat-label>Amount Payed <span class="material-icons">
          payment
          </span></mat-label>
        <input required matInput  name="day_salary" [(ngModel)]="newPayment.amount_payed"  pattern="^[1-9][0-9]*$"   required >
      </mat-form-field>

      <br>
    <mat-form-field>
        <mat-label>Date of Payment</mat-label>
        <input matInput [matDatepicker]="dp3" [(ngModel)]="newPayment.date_of_payment" name ="date_of_work" required disabled>
        <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
      <br>

      <button mat-raised-button color="primary" [disabled]="AddNewPaymentForm.form.invalid" type="submit">Add</button>
      <button mat-raised-button color="warn"  type="button" (click)="resetForm(AddNewPaymentForm)">Reset</button>

    </form>
    {{AddNewPaymentForm.form.valid}}
  </div>
  </div>
</div>
